body{
    
    padding: 0px;
    margin: 0px;
    color: rgba(0,0,0,0.87);
    font-family: 'Roboto', sans-serif;
    background-image: url('https://img.freepik.com/photos-gratuite/fond-texture-papier-espace-design_53876-42312.jpg?w=740&t=st=1661893098~exp=1661893698~hmac=5166b3ebde195975fa0e76a24caa1680cb0adb13743dbbb8cdb17651f7626eef');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
